

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   body h1,p,a,div,form{
   		font-family: 'Revalia', cursive;
   		color :#055367;
   }

   


   .jumbotron h1, .jumbotron p {
   		color:#053d5b;
   		text-shadow: 2px 2px 7px #000;
   }

   .logo {
   	width:45px;
   }

   .navbar-brand {
   	padding-top: 2.5px;
   	padding-bottom: 0px;
   	filter: grayscale(70%);
   	transition: filter 0.5s ease;
   }


   .navbar-inverse .navbar-inverse>li>a:hover {
   	color: #4d828c;
   }
   

   .navbar-brand:hover {
   	filter: grayscale(0%);
   }


   footer p, footer form {
   		color:#9d9d9d;
   }

   .nav>li>a {
   		padding:15px 5px;
   }

/* Remove the navbar's default rounded borders and increase the bottom margin */ 

	.navbar-inverse {
		background-image: linear-gradient(to bottom,#3c3c3c 0,#000 100%);
		border-color: transparent;
	}

    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0px;
      height: 180px;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-image: linear-gradient(to bottom,#3c3c3c 0,#000 100%);
      padding: 25px;
    }

    .panel-heading{
    	background-image: linear-gradient(to bottom,#3c3c3c 0,#000 100%);

    }

    .img-thumbnail {
    	border: 0;
    	background-color: #212121;
    }

    .panel {
    	border-color : #333;
    }

    .panel-body {
    	background-image: linear-gradient(to bottom,#888 0,#000 100%);
    }

    .panel-footer {
    	background-image: linear-gradient(to bottom,#000 0,#3c3c3c 100%);
    	border-top: 0;
    }

    .sign {
    	background-image: linear-gradient(to bottom,#4d828c 0,#333 100%);
    }

    input[type="email"] {
    	background-color: #CCC;
    }















